version: '3.8'
services:
    postgres:
        container_name: postgres_container
        image: postgres:15
        environment:
            - POSTGRES_USER=root
            - POSTGRES_PASSWORD=root
            - TZ=Asia/Kolkata
        ports:
            - 5433:5432
        volumes:
            - postgres:/var/lib/postgresql/data
        restart: unless-stopped
    zookeeper:
        image: confluentinc/cp-zookeeper:latest
        hostname: zookeeper
        container_name: zookeeper
        ports:
            - "2181:2181"
        environment:
            ZOOKEEPER_CLIENT_PORT: 2181
            ZOOKEEPER_TICK_TIME: 2000

    kafka:
        image:  confluentinc/cp-kafka:7.6.1
        hostname: kafka
        container_name: kafka
        ports:
            - "9092:9092"   # host consumer
            - "29092:29092" # internal Docker communication
        environment:
            KAFKA_BROKER_ID: 1
            KAFKA_ZOOKEEPER_CONNECT: zookeeper:2181
            KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: PLAINTEXT:PLAINTEXT,PLAINTEXT_HOST:PLAINTEXT
            KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://kafka:29092,PLAINTEXT_HOST://localhost:9092
            KAFKA_LISTENERS: PLAINTEXT://0.0.0.0:29092,PLAINTEXT_HOST://0.0.0.0:9092
            KAFKA_INTER_BROKER_LISTENER_NAME: PLAINTEXT
            KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1
        depends_on:
            - zookeeper
    kafka-ui:
        image: provectuslabs/kafka-ui:latest
        container_name: kafka_ui
        depends_on:
            - kafka
        ports:
            - "8801:8080"
        environment:
            - KAFKA_CLUSTERS_0_NAME=local
            - KAFKA_CLUSTERS_0_BOOTSTRAPSERVERS=kafka:29092
            - KAFKA_CLUSTERS_0_ZOOKEEPER=zookeeper:2181
        restart: unless-stopped
volumes:
    postgres: